<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h2>
                    <a href="/" class="brand">{{ name }}</a> <small>Hi there.</small>
                </h2>
            </div>
            <div class="navbar-collapse">
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    {%- endblock -%}

    <div class="container">
        <div class="content">
            {% block page_header -%}{% endblock -%}
            {% block content -%}
                {% for blog in blogs -%}
                  <div><h2><a href=#>{{ blog.title }}</a></p></div>
                  <div>id: {{ blog.id }}</div>
                  <div><h3>{{ blog.description }}</h3></div>
                  <div><p>{{ blog.content|truncate(100) }}</p></div>
                  <div><strong>{{ blog.author }}</strong></div>
                  <div><em>First posted: {{ blog["created-date"] }}</em></div>
                  <div><em>Updated: {{ blog["last-update-date"] }}</em></div>
                  <form action="" method="post" name="new_blog_form">
                    {{ new_blog_form.hidden_tag() }}
                    <p>Please enter your X:<br\>
                    {{ new_blog_form.x }}<br\>
                    {{ new_blog_form.submit }}
                    </p>
                  </form>

                {% endfor -%}

                <div class="table">
                    <div class="tr">
                        <span class="td admin_album_heading">Title</span>
                        <span class="td admin_album_heading">Description</span>
                        <span class="td admin_album_heading">Last Updated</span>
                        <span class="td admin_album_heading">Cache Last Updated</span>
                        <span class="td admin_album_heading">Number of photos currently in cache</span>
                        <span class="td admin_album_heading">Internal Link</span>
                        <span class="td admin_album_heading">Flickr</span>
                        <span class="td admin_album_heading">Owner</span>
                    </div>
                {% for album in albums -%}
                    <div class="tr">
                        <span class="td admin_album_title">{{ album.title }}</span>
                        <span class="td admin_album_desc">{{ album.desc }}</span>
                        <span class="td admin_album_last_update">{{ album.album_last_update }}</span>
                        <span class="td admin_album_cache_update">{{ album.cache_last_update }}</span>
                        <span class="td admin_album_num_photos">{{ album.num_photos }}</span>
                        <span class="td admin_album_uri">{{ album.uri }}</span>
                        <span class="td admin_album_flickr_link">{{ album.flickr_url }}</span>
                        <span class="td admin_album_owner">{{ album.owner_id }}</span>
                    </div>
                {% endfor -%}
                </div>

            {% endblock %}

        </div>
    </div>
    {% block js_footer -%}{% endblock -%}
  </body>
</html>
